
.main{
    background-color: #1f1f1fe1;
    width: 100vw;
    height: 100vh;
}

.main>pre{
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.main>pre>b{
    opacity: 0;
}
